.gridholder{
    border: solid 2px black;
    min-height: 60vh;
    display: grid;
    place-items: center;
}

.image{
    min-width: 20vw;
    max-height: 50vh;
    border: solid 2px red;
    display: flex;
    overflow: hidden;
}

.about{
    border: solid 2px red;
    
}

img{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}