@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
header
{
    min-width: 100%;
    min-height: 5rem;
    background-color: rgba(11, 12, 15, 0.797);
}



nav
{
    
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    background-color: #fefae0;
    border-radius: 1cap;
    margin-bottom: 20px;
}

.nav-items a
{
    padding: 0 20px;
}


button
{
    background-color: blue;
    padding: .8em;
    border-radius: .5cap;
}