main {
    display: grid;
    grid-template-columns: 40% 8% 20% auto;
    grid-template-rows: 13% 40% auto;   
    grid-template-areas: "";
    height: 80vh; 
    gap: 20px;
}

  
.item {
    background-color: #fefae0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-size: 16px;
    border-radius: 1.5cap;
}

.grid-col-span-2{
    grid-column: span 2;
}

.item1, .item2{
    grid-row-start: 1;
    grid-row-end: 3;
}

.item4{
    grid: span 1;
    grid-row-start: 3;
    grid-row-end: 4;
}


.item5{
    background-color: #969696;
}


.item6{
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.canvas{
    padding: 0;

}

.image-container{
    border-radius: 1.5cap;
    overflow: hidden;
    height: 100%;
    width: 100%;

}

#profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 0;
    padding: 0;
}

.searchbox{
    border-radius: 3cap;
}

.search-icon img{
    border-top-left-radius: 1.5cap;
    border-bottom-left-radius: 1.5cap;
}